<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0627ce6e-e1a0-47fe-a17c-989257468403/resourcegroups/GondolinWeb/providers/Microsoft.Web/sites/GondolinWeb20221207165043</ResourceId>
    <ResourceGroup>GondolinWeb</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gondolinweb20221207165043.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fff18c40-24de-4980-8b66-2650d99fb09d</ProjectGuid>
    <PublishUrl>https://gondolinweb20221207165043.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GondolinWeb20221207165043</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>