@{
    ViewData["Title"] = "Meet Team Gondolin";
}

<head>
<link rel="stylesheet" href="~/css/TeamPage.css" asp-append-version="true" />
</head>

<div class="page_heading">
    <h1>@ViewData["Title"]</h1>
    <p><em>Hover or Click on the pictures to read about each team member</em></p>
</div>
<div class="container bio">
    <div class="row">
        <div class="col">
            <div class="image m-auto">
                <img class="pic img-fluid" src="~/img/candice.jpg" />
            </div>
            <div class="info m-auto">
                <p class="text-center"><strong>Candice Kohlbeck</strong> is the<br /><strong>Product Manager</strong> for<br /><strong>GondolinWeb</strong>.</p>
                <p>As Product Manager, Candice identifies customer needs and business objectives that our product will fulfill. Candice will help the team determine what success looks like for the product and rally the team to turn that vision into a reality.</p>
                    <p>In her free time, Candice organizes Dungeons & Dragons for her friends and spends time with her husband and three cats.</p>
            </div>
            <div class="name_title">
                <h3>Candice</h3>
                <h5>Product Manager</h5>
            </div>
        </div>
        <div class="col">
            <div class="image m-auto">
                <img class="pic img-fluid" src="~/img/chris.jpg" />
            </div>
            <div class="info p-2 m-auto">
                <p class="text-center"><strong>Chris Cremeens</strong> is the<br /><strong>Data Layer Lead</strong> for<br /><strong>GondolinWeb</strong>.</p>
                <p>As Data Lead, Chris has developed a fully-extensible relational database that meets all application needs. Chris ensures that all data connections are secure and functional throughout the application.</p>
                <p>His wife and two daughters keep Chris busy while not at work. The family enjoys exploring the outdoors, gardening, and playing hockey.</p>
            </div>
            <div class="name_title">
                <h3>Chris</h3>
                <h5>Data Layer Lead</h5>
            </div>
        </div>
        <div class="col">
            <div class="image m-auto">
                <img class="pic img-fluid" src="~/img/nate.jpg" />
            </div>
            <div class="info m-auto">
                <p class="text-center"><strong>Nate Brock</strong> is the<br /><strong>Business Layer Lead</strong> for<br /><strong>GondolinWeb</strong>.</p>
                <p>As Business Lead, Nate is responsible for the proper operation of business logic within the application, ensuring uninterrupted data flow between the user and the database.</p>
                <p>When not at work Nathan enjoys spending time outdoors. Some of his favorite hobbies include hiking, biking, and fishing.</p>
            </div>
            <div class="name_title">
                <h3>Nate</h3>
                <h5>Business Layer Lead</h5>
            </div>
        </div>
        <div class="col">
            <div class="image m-auto">
                <img class="pic img-fliud" src="~/img/bart.jpg" />
            </div>
            <div class="info m-auto">
                <p class="text-center"><strong>Bart Downey</strong> is the<br /><strong>Presentation/UI Lead</strong> for<br /><strong>GondolinWeb</strong>.</p>
                <p>As UI Lead, Bart has worked with the team to develop a consistent theme throughout the application, ensuring that all presentation elements conform to this theme and contribute to a smooth, logical, pleasant experience for the user.</p>
                <p>With what little spare time he has, Bart loves to play video games, and is in the process of finishing up his fourth novel.</p>
            </div>
            <div class="name_title">
                <h3>Bart</h3>
                <h5>Presentation/UI Lead</h5>
            </div>
        </div>
    </div>
</div>
