@model GondolinWeb.Areas.Application.Models.Task
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit Favorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Favorite Task</h1>
<hr class="dashboard-line" />

<div class="row">
    <div class="col-md-4 m-auto">
        <form asp-action="EditFavorite" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for"IsComplete" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name <small class="text-muted">*Required*</small></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">
                    Description 
                    <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Add further notes if you would like."></i>
                </label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Category
                    <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="Select a category to help filter later. "></i>
                    </label>
                <select asp-for="CategoryName" class="form-control">
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Name">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group mt-3 ">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-danger" asp-controller="Tasks" asp-action="Index">Cancel <i class="bi bi-exclamation-diamond" data-bs-toggle="tooltip" data-bs-placement="right" title="Will not save changes. Return to Task List."></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
