@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout!;
    }
    else
    {
        Layout = "Views/Shared/_Layout.cshtml";
    }
}

@if (ViewData["Theme"] as string == "Light")
{
    <link rel="stylesheet" href="~/css/Light.css" />
}
else if (ViewData["Theme"] as string == "Dark")
{
    <link rel="stylesheet" href="~/css/Dark.css" />
}
else
{
    <link rel="stylesheet" href="~/css/Green.css" />
}

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
